* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

button {
    margin: 10px 20px;
}

.header {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    height: 15vh;
}

.main_container {
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    color: white;
    height: 85vh;
}

.sidebar {
    background-color: #26B3F3;
    color: rgb(0, 0, 0);
    padding: 10px;
    height: 85vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    height: 85vh;
    overflow: auto;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 1px;
    transform: scale(1.1);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.2);
}

.w-btn-outline:active {
    transform: scale(1.2);
}

.comment-label {
    margin-top: 20px;
    font-size: 18px;
}

textarea {
    width: 100%;
    min-height: 5em;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Consolas, sans-serif;
    background-color: #1E1E1E;
    color: #57A64A; 
    overflow-y: hidden; /* 스크롤바 숨김 */
    resize: none; /* 사용자가 수동으로 크기 조절하는 것 방지 */
}

.checkbox_div input[type="checkbox"] {
    width: 20px;  /* 너비 설정 */
    height: 20px; /* 높이 설정 */
    margin-bottom: 20px;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.checkbox_label {
    margin-left: 10px;
    font-size: 20px;
}

fieldset {
    border: 1px solid #26B3F3;
}

legend {
    padding: 10px;
    background: #5c0b02;
    color: white;
}

input[type="submit"] {
    background: #0de281;
}

input:checked {
    outline: 2px solid yellow;
}

.toast {
    visibility: hidden; /* 기본적으로는 보이지 않음 */
    min-width: 250px; /* 메시지 박스의 최소 너비 */
    background-color: black; /* 배경색 */
    color: white; /* 텍스트 색상 */
    text-align: center; /* 텍스트 중앙 정렬 */
    border-radius: 2px; /* 모서리 둥글게 */
    padding: 16px; /* 내부 여백 */
    position: fixed; /* 위치 고정 */
    z-index: 1; /* 다른 요소들 위에 표시 */
    left: 50%; /* 왼쪽에서 50% 위치 */
    top: 50%; /* 상단에서 50% 위치 */
    transform: translate(-50%, -50%); /* 정확한 중앙 위치로 조정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* 그림자 추가 */
    font-size: 17px; /* 글씨 크기 */
}

.toast.show {
    visibility: visible; /* 보이게 설정 */
    opacity: 1; /* 완전 불투명 */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; /* 애니메이션 적용 */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

.setting-item {
    margin-bottom: 20px; /* 각 설정 요소 사이의 여백 */
    display: block;
}

.setting-item label {
    font-size: 20px;
}

.setting-item input[type="text"] {
    width: 400px; 
    height: 30px; /* 높이는 20px로 고정 */
    line-height: 30px; /* 라인 높이도 20px로 설정하여 텍스트가 중앙에 위치하도록 함 */
    margin-top: 10px;
}